/* 共通項目 */
/** 上部コンテナ **/
#top-content {
  display: flex;
  align-items: center; /* 子要素を水平方向の中心に揃えます */
  min-height: 100vh;
  max-width: 1200px; /* または任意の最大幅 */
  margin: auto; /* これにより、#content が画面中央に配置されます */
  padding: 20px;
}

.content {
  margin-top: 20px;
}

.icon {
  vertical-align: middle; /* アイコンをテキストの中心に合わせる */
  height: 1em; /* アイコンのサイズをフォントサイズに合わせる */
  margin-right: 0.5em; /* アイコンとテキストの間にスペースを作る */
}

/* PC用スタイル */
@media screen and (min-width:901px) {
  #top-content {
    justify-content: space-between; /* 左右のコンテナ間にスペースを作ります */
  }

  #icon-container {
    width: 50%; /* または任意の幅で調整 */
    text-align: right; /* 画像を右に配置 */
  }
  
  #profile-icon {
    max-width: 100%;
    margin-right: 15px;
    height: auto;
    border-radius: 10px;
  }
  
  #text-container {
    width: 50%; /* または任意の幅で調整 */
    margin-left: 15px;
    text-align: left; /* テキストを左に配置 */
  }

  #profile-icon {
    width: 300px; /* 最大幅を設定 */
  }
  #top-content {
    display: flex;
  }

  .bottom-content {
    display: flex;
    justify-content: space-between; /* 左右のコンテナ間にスペースを作る */
    align-items: center; 
    max-width: 1200px; /* または任意の最大幅 */
    margin: auto; /* これにより、#content が画面中央に配置されます */
    padding: 20px;
    padding-bottom: 40px;
    align-items: flex-start; /* 子要素を上に揃えます */
  }

  .category-text {
    padding-right: 50px;
    }
  
  .profile-text {
    width: 60%; /* または任意の幅で調整 */
    margin-left: 10px;
    text-align: left; /* テキストを左に配置 */
  }

  .profile-category {
    width: 40%; /* または任意の幅で調整 */
    text-align: right; /* テキストを右に配置 */
  }

  p {
    margin : 5px;
  }
}

/* モバイル用スタイル */
@media screen and (max-width:900px) {
  #top-content {
    flex-direction: column; /* 子要素を縦に並べ替えます */
    justify-content: center; /* 子要素をコンテナの垂直方向の中心に揃えます */
    height: 100vh; /* ここでコンテナの高さをビューポートの高さに設定します */
  }

  
  #icon-container, #text-container {
    width: 100%; /* 100%の幅でフル幅に展開 */
    text-align: center; /* 画像を中央に配置 */
    margin-bottom: 20px; /* 下部に余白を設定 */
  }

  #profile-icon {
    max-width: 70%; /* 画像がコンテナの幅を超えないように */
    height: auto; /* 高さを自動で調整 */
    border-radius: 10px; /* 角丸の設定 */
    margin-bottom: 20px; /* 画像下の余白 */
  }

  #text-container {
    max-width: 75%;
    text-align: left; /* テキストを左揃えに */
    padding: 0; /* パディングをリセット */
  }

  .bottom-content {
    /* .bottom-content のスタイル */
    flex-direction: column; /* スタック要素 */
    align-items: center; /* 子要素を水平方向の中央に揃えます */
    padding: 20px;
  }

  h2 {
    font-size: 20px;}

  .category-text {
    padding-right: 5px;
  }

  .profile-text {
    margin-left: 15px;
    text-align: left; /* テキストを左に配置 */
  }

  .profile-category {
    text-align: left; /* テキストを右に配置 */
  }

  p {
    font-size: 15px;
    margin : 5px;
  }
}
